<form>
	<div class="form-group">
		<label for="json">JSON data</label>
		<textarea id="json" class="form-control" name="multiline" rows="10" required autofocus>{{ data|json }}</textarea>
		<small class="text-muted">Raw data</small>
	</div>
</form>
